@page "/groundBeefBulgogi"

<PageTitle>Ground Beef Bulgogi</PageTitle>


<div class="text-center">

    @{
        var title = "Ground Beef Bulgogi";
        var description = "Aaron and Claire recipe.";
        var reference = "https://aaronandclaire.com/ground-beef-bulgogi/";

        var ingredients = new string[]
        {
        "1 lb ground beef",
        "2 shiitake mushrooms (or button mushrooms), about 1.3 oz",
        "1/2 yellow onion",
        "2 green onions, white part",
        "2 Tablespoons neutral-tasting oil",
        "-----------------",
        "2 1/3 Tablespoons soy sauce",
        "1.5 Tablespoons sugar",
        "1.5 Tablespoons mirin",
        "2 Tablespoons oyster sauce",
        "1.5 Tablespoon toasted sesame oil",
        "2 Tablespoons minced garlic",
        "black pepper, to taste",
        "pinch of MSG (optional)",
        "-----------------",
        "2 green onions, green part, to garnish",
        "1 mild red chili, for color",
        "1 green chili, for color",
        "toasted sesame seeds, to garnish",
        "-----------------",
        "5 cups cooked rice"

        };

        var steps1 = new string[]
        {
        "Thinly slice the chilies (if using).",
        "Thinly slice the green onions, separating the whites and greens.",
        "Finely dice half an onion.",
        "Finely dice mushrooms.",
        };

        var steps2 = new string[]
        {
        "In a small container, mix together the soy sauce, sugar, mirin, oyster sauce, minced garlic, sesame oil, black pepper to taste, and a pinch of MSG (if using).",
        "In a large mixing bowl, add the ground beef, mushrooms, and marinade.",
        "Give it a good mix until well combined."
        
        };

        var steps3 = new string[]
        {
        "In a wok (or pan), heat the oil (2 tbsp) over medium-high heat. ",
        "Once heated, add the green onion and the white parts of the green onions. ",
        "Saute for 3 minutes or until they get a little bit of color.",
        "Add the beef mixture and cook for 7-8 minutes until most of the liquid has evaporated. ",
        "Make sure to break up the beef and keep stirring it. ",
        "Turn the heat off. ",
        "Add most of the the chili peppers (if using), green onions, and sesame oil (1/2 tbsp). (save some for topping) ",
        "Give it a final mix."
        };

        var steps4 = new string[]
        {
        "To serve, divide  rice into bowls. ",
        "Add a generous amount of bulgogi. ",
        "Garnish with some extra green onions, sesame seeds, and chili peppers (if using)."
        };

 
    }
</div>



<body>
    <div>
        <h1>@title</h1>
        <p></p>

        <!--  
        <h5>Description:</h5>
        -->
        <div>@description</div>
        <p></p>
        

        <h5>Ingredients:</h5>
        <div>
            <ul>
                @foreach (var ingredient in ingredients)
                {
                    <li>@ingredient</li>
                }
            </ul>
        </div>

        <h5>Steps:</h5>
        <div>
            <ol>
                @foreach (var step in steps1)
                {
                    <li>@step</li>
                }
            </ol>
        </div>
        <h5>---------------</h5>
        <div>
            <ol>
                @foreach (var step in steps2)
                {
                    <li>@step</li>
                }
            </ol>
        </div>
        <h5>---------------</h5>
        <div>
            <ol>
                @foreach (var step in steps3)
                {
                    <li>@step</li>
                }
            </ol>
        </div>
        <h5>---------------</h5>
        <div>
            <ol>
                @foreach (var step in steps4)
                {
                    <li>@step</li>
                }
            </ol>
        </div>



        <a href=@reference>Reference</a>

    </div>
</body>



@*
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
*@

